<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="Custom Entity Provider" invariant="CustomEntityProvider" description=".Net Framework Tunable SqlClient Provider" type="System.Data.Entity.UnitTest.CustomProvider, System.Data.Entity.UnitTest.CustomProvider" />
      <add name="Tunable Sql Provider" invariant="System.Data.Test.TunableSqlClient" description=".Net Framework Tunable SqlClient Provider" type="System.Data.Test.Framework.TunableSqlFactory, System.Data.Test.Framework" />
      <add name="SQL CE Wrapper Provider" invariant="SqlCeWrapper" description="SQL CE Wrapper Provider" type="SqlCeWrapper.SqlCeWrapperFactory, ProviderModelUnitTests" />
      <add name="SQL CE Mini Wrapper Provider" invariant="SqlCeMiniWrapper" description="SQL CE Wrapper Provider" type="SqlCeMiniWrapper.SqlCeMiniWrapperFactory, ProviderModelUnitTests" />
      <remove invariant="System.Data.SqlServerCe.4.0"></remove>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="MonsterModel" providerName="System.Data.EntityClient" connectionString="metadata=.\MonsterModel.csdl|.\MonsterModel.ssdl|.\MonsterModel.msl;provider=System.Data.SqlClient;provider connection string='Server=.\SQLEXPRESS;Integrated Security=True;Database=MonsterModelVB;MultipleActiveResultSets=True;'" />
    <add name="AdvancedPatternsModelFirstContext" providerName="System.Data.EntityClient" connectionString="metadata=.\AdvancedPatterns.csdl|.\AdvancedPatterns.ssdl|.\AdvancedPatterns.msl;provider=System.Data.SqlClient;provider connection string='Server=.\SQLEXPRESS;Integrated Security=True;Database=AdvancedPatternsModelFirstVB;MultipleActiveResultSets=True;'" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseInitializerForType FunctionalTests.ProductivityApi.TemplateModels.CsAdvancedPatterns.AdvancedPatternsModelFirstContext, EntityFramework.FunctionalTests.Transitional" value="FunctionalTests.ProductivityApi.TemplateModels.CsAdvancedPatterns.AdvancedPatternsModelFirstInitializer, EntityFramework.FunctionalTests.Transitional" />
    <add key="BaseConnectionString" value="Data Source=.\SQLEXPRESS; Integrated Security=True;" />
  </appSettings>
</configuration>