_ReSharper*
bin
Bin
obj
App_Data
TestResults
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.resources
packages
EntityFramework.xml
EntityFramework.SqlServer.xml
EntityFramework.SqlServerCompact.xml