_ReSharper*/
[Bb]in/
[Oo]bj/
App_Data
[Tt]est[Rr]esult*/
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.resources
packages/
EntityFramework.xml
EntityFramework.SqlServer.xml
EntityFramework.SqlServerCompact.xml
*.BASE.*
*.REMOTE.*
*.LOCAL.*
[Ss]tyle[Cc]op.*
*.csproj.DotSettings
/src/EFTools/EntityDesign/VisualStudio/ItemTemplate/VersionedTemplates/
/src/EFTools/setup/EFToolsMsi/Resources/EFToolsStrings.wxl
Index.dat
Storage.dat
*.sln.ide