variables:
  - name: _BuildConfig
    value: Release
  - name: _TeamName
    value: AspNetCore
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: true
  - name: _PublishUsingPipelines
    value: true
  - name: _DotNetArtifactsCategory
    value: ASPNETENTITYFRAMEWORK6
  - name: _DotNetValidationArtifactsCategory
    value: ASPNETENTITYFRAMEWORK6

trigger:
  - master
  - release/*

pr: ['*']

stages:
- stage: build
  displayName: Build
  jobs:
    - template: eng/common/templates/jobs/jobs.yml
      parameters:
        enableMicrobuild: true
        enablePublishBuildArtifacts: true
        enablePublishBuildAssets: true
        enablePublishTestResults: true
        enablePublishUsingPipelines: ${{ variables._PublishUsingPipelines }}
        enableTelemetry: true
        helixRepo: aspnet/EntityFramework6
        jobs:
          - job: Windows
            timeoutInMinutes: 180
            pool:
              ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
                name: NetCorePublic-Pool
                queue: BuildPool.Windows.10.Amd64.VS2017.Open
              ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
                name: NetCoreInternal-Pool
                queue: BuildPool.Windows.10.Amd64.VS2017
            variables:
              - _InternalBuildArgs: ''
              - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
                - group: DotNet-Blob-Feed
                - _SignType: real
                - _PublishBlobFeedUrl: https://dotnetfeed.blob.core.windows.net/aspnet-entityframework6/index.json
                - _DotNetPublishToBlobFeed: true
                - _InternalBuildArgs: /p:DotNetSignType=$(_SignType)
                                      /p:TeamName=$(_TeamName)
                                      /p:DotNetPublishBlobFeedKey=$(dotnetfeed-storage-access-key-1)
                                      /p:DotNetPublishBlobFeedUrl=$(_PublishBlobFeedUrl)
                                      /p:DotNetPublishToBlobFeed=$(_DotNetPublishToBlobFeed)
                                      /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                                      /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
                                      /p:DotNetArtifactsCategory=$(_DotNetArtifactsCategory)
            steps:
              - powershell: |
                  SqlLocalDB stop MSSQLLocalDB -i
                  SqlLocalDB start MSSQLLocalDB
                  & "$env:ProgramFiles\Microsoft SQL Server\110\Tools\Binn\SQLCMD.EXE" -S '(localdb)\MSSQLLocalDB' -b -Q @'
                    DECLARE @name nvarchar(255);
                    DECLARE db CURSOR FOR SELECT Name FROM sysdatabases WHERE Name NOT IN ('master', 'tempdb', 'model', 'msdb');
                    OPEN db;
                    FETCH NEXT FROM db INTO @name;
                    WHILE @@FETCH_STATUS = 0
                    BEGIN
                      SET @name = REPLACE(@name, ']', ']]');
                      PRINT 'Dropping database [' + @name + ']';
                      SET @name = 'DROP DATABASE [' + @name + ']';
                      EXEC (@name);
                      FETCH NEXT FROM db INTO @name;
                    END;
                    CLOSE db;
                    DEALLOCATE db;
                  '@
                displayName: Cleanup databases
              - task: NuGetCommand@2
                displayName: 'Clear NuGet caches'
                condition: succeeded()
                inputs:
                  command: custom
                  arguments: 'locals all -clear'
              - script: eng\common\cibuild.cmd -configuration $(_BuildConfig) -prepareMachine $(_InternalBuildArgs)
                name: Build
              - task: PublishBuildArtifacts@1
                displayName: Upload TestResults
                condition: always()
                continueOnError: true
                inputs:
                  pathtoPublish: artifacts/TestResults/$(_BuildConfig)/
                  artifactName: $(Agent.Os)_$(Agent.JobName) TestResults
                  artifactType: Container
                  parallel: true
              - task: PublishBuildArtifacts@1
                displayName: Upload artifacts
                condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false))
                inputs:
                  pathtoPublish: 'artifacts/packages/'
                  artifactName: packages
                  artifactType: Container
                  parallel: true

- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: eng\common\templates\post-build\post-build.yml
    parameters:
      # Symbol validation isn't being very reliable lately. This should be enabled back
      # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
      enableSymbolValidation: false 