<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="ide">
      <Component>
        <RegistryValue Root="HKCR"
                       Key=".edmx"
                       Value="VisualStudio.edmx.$(var.VisualStudioVersion)"
                       Type="string"
                       KeyPath="yes" />
        <RegistryKey Root="HKCR" Key="VisualStudio.edmx.$(var.VisualStudioVersion)">
          <RegistryValue Type="string" Value="ADO.NET Entity Data Model Designer" />
          <RegistryValue Type="string" Name="AlwaysShowExt" Value="1" />
          <RegistryValue Key="DefaultIcon"
                         Type="string"
                         Value="[DSTDIR]Common7\IDE\Microsoft.Data.Entity.Design.Package.dll,0" />
          <RegistryKey Key="shell\Open">
            <RegistryValue Key="Command" Type="string" Value="&quot;[DSTDIR]Common7\IDE\devenv.exe&quot; /dde" />
            <RegistryKey Key="ddeexec">
              <RegistryValue Type="string" Value="Open(&quot;%1&quot;)" />
              <RegistryValue Key="Application" Type="string" Value="VisualStudio.$(var.VisualStudioVersion)" />
              <RegistryValue Key="Topic" Type="string" Value="system"  />
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.DatabaseGeneration.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.DatabaseGeneration.dll"
              Assembly=".net" />
      </Component>
      <Component Guid="{C594B88A-69BF-41B0-A2A5-B504612B2B33}">
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.dll"
              Assembly=".net"
              KeyPath="yes" />
        <?if $(var.FrozenRuntimeDir) = "" ?>
          <?define RuntimeDllDir=$(var.AssemblyPath45) ?>
        <?else?>
          <?define RuntimeDllDir=$(var.FrozenRuntimeDir) ?>
        <?endif?>
        <File CompanionFile="Microsoft.Data.Entity.Design.dll" Source="$(var.RuntimeDllDir)\EntityFramework.dll">
          <netfx:NativeImage Id="ngen_IDE_EntityFramework" Platform="all" Priority="3" AppBaseDirectory="ide" />
        </File>
        <File CompanionFile="Microsoft.Data.Entity.Design.dll" Source="$(var.RuntimeDllDir)\EntityFramework.SqlServerCompact.dll" >
          <netfx:NativeImage Id="ngen_IDE_EntityFramework_SqlServerCompact" Platform="all" Priority="3" AppBaseDirectory="ide" />
        </File>
        <File CompanionFile="Microsoft.Data.Entity.Design.dll" Source="$(var.RuntimeDllDir)\EntityFramework.SqlServer.dll" >
          <netfx:NativeImage Id="ngen_IDE_EntityFramework_SqlServer" Platform="all" Priority="3" AppBaseDirectory="ide" />
        </File>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft">
          <RegistryKey Key="VisualStudio\$(var.VisualStudioVersion)\TextTemplating\DirectiveProcessors\T4VSHost">
            <RegistryValue Type="string"
                           Name="Class"
                           Value="Microsoft.Data.Entity.Design.VisualStudio.Directives.FallbackT4VSHostProcessor" />
            <RegistryValue Type="string" Name="CodeBase" Value="[#Microsoft.Data.Entity.Design.dll]" />
          </RegistryKey>
          <RegistryKey Key="VWDExpress\$(var.VisualStudioVersion)\TextTemplating\DirectiveProcessors\T4VSHost">
            <RegistryValue Type="string"
                           Name="Class"
                           Value="Microsoft.Data.Entity.Design.VisualStudio.Directives.FallbackT4VSHostProcessor" />
            <RegistryValue Type="string" Name="CodeBase" Value="[#Microsoft.Data.Entity.Design.dll]" />
          </RegistryKey>
          <RegistryKey Key="WDExpress\$(var.VisualStudioVersion)\TextTemplating\DirectiveProcessors\T4VSHost">
            <RegistryValue Type="string"
                           Name="Class"
                           Value="Microsoft.Data.Entity.Design.VisualStudio.Directives.FallbackT4VSHostProcessor" />
            <RegistryValue Type="string" Name="CodeBase" Value="[#Microsoft.Data.Entity.Design.dll]" />
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.Model.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.Model.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.Package.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.Package.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.EntityDesigner.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.EntityDesigner.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.BootstrapPackage.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.BootstrapPackage.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.VersioningFacade.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.VersioningFacade.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Tools.Design.XmlCore.dll"
              AssemblyApplication="Microsoft.Data.Tools.Design.XmlCore.dll"
              Assembly=".net" />
      </Component>
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.VisualStudio.Data.Tools.Design.XmlCore.dll"
              AssemblyApplication="Microsoft.VisualStudio.Data.Tools.Design.XmlCore.dll"
              Assembly=".net" />
      </Component>

      <ComponentGroupRef Id="VSCOMNTOOLSEnvVarComponents" />
      <ComponentGroupRef Id="CoreIntellisenseComponents" />
      <ComponentGroupRef Id="PublicAssemblyComponents" />
      <?if $(var.VisualStudioVersion) = 11.0?>
      <ComponentGroupRef Id="DataDesignExtensionComponents" />
      <?endif ?>
      <ComponentGroupRef Id="EFToolsExtensionComponents" />
    </ComponentGroup>

    <ComponentGroup Id="CoreIntellisenseComponents" Directory="ide_en">
      <Component >
        <File Source="$(var.TargetDir)\EntityDesigner\Intellisense\$(var.LCID)\Microsoft.Data.Entity.Design.DatabaseGeneration.xml" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\EntityDesigner\Intellisense\$(var.LCID)\Microsoft.Data.Entity.Design.xml" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PublicAssemblyComponents" Directory="publicassemblies">
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.Extensibility.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.Extensibility.dll"
              Assembly=".net" />
      </Component>

      <ComponentGroupRef Id="PublicAssemblyIntellisenseComponents" />
    </ComponentGroup>

    <ComponentGroup Id="PublicAssemblyIntellisenseComponents" Directory="publicassemblies_en">
      <Component>
        <File Source="$(var.TargetDir)\EntityDesigner\Intellisense\$(var.LCID)\Microsoft.Data.Entity.Design.Extensibility.xml" />
      </Component>
    </ComponentGroup>

    <?if $(var.VisualStudioVersion) = 11.0?>
    <ComponentGroup Id="DataDesignExtensionComponents" Directory="commonextensions_datadesign">
      <Component>
        <File Source="$(var.AssemblyPath45)\Microsoft.Data.Entity.Design.DataSourceWizardExtension.dll"
              AssemblyApplication="Microsoft.Data.Entity.Design.DataSourceWizardExtension.dll"
              Assembly=".net" />
      </Component>
    </ComponentGroup>
    <?endif?>

    <ComponentGroup Id="EFToolsExtensionComponents" Directory="commonextensions_eftools">
      <Component>
        <File Source="$(var.TargetDir)\PkgDefData\Microsoft.Data.Entity.Design.Package.pkgdef" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\PkgDefData\Microsoft.Data.Entity.Design.BootstrapPackage.pkgdef" />
      </Component>
    </ComponentGroup>

    <!--==============================================================================================-->
    <!-- Define VSxxxCOMNTOOLS if it is not already defined - .ttinclude files use it                 -->
    <!-- Note: Environment Action="create" means it will not affect the variable if it already exists -->
    <!--==============================================================================================-->
    <ComponentGroup Id="VSCOMNTOOLSEnvVarComponents" Directory="TARGETDIR">
      <?if $(var.VisualStudioVersion) = 11.0?>
      <Component Id="CreateVS110COMNTOOLSEnvVar" KeyPath="yes" Guid="{115471B5-521D-4368-9311-0ED77816AA42}">
        <Environment
          Id="SetVS110COMNTOOLS"
          Action="create"
          Name="VS110COMNTOOLS"
          Permanent="yes"
          System="yes"
          Value="[DSTDIR]Common7\Tools\" />
      </Component>
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>