<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="DatabaseGenerationComponents" Directory="eft_dbgen">
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\SSDLToSQL10.tt" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\workflows\TablePerTypeStrategy.xaml" />
      </Component>

      <ComponentGroupRef Id="DatabaseGenerationIncludesComponents"/>
    </ComponentGroup>

    <ComponentGroup Id="DatabaseGenerationIncludesComponents" Directory="eft_templates_include">
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\includes\GenerateTSQL.Utility.ttinclude" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>