<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.FullProductName)"
           Language="$(var.LCID)"
           Version="$(var.ProductVersion)"
           Manufacturer="!(loc.CompanyName)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Compressed="yes"
             Description="$(var.ProductDescription)"
             InstallerVersion="200"
             InstallScope="perMachine" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Maximum="$(var.AssemblyFileVersion)"
                      Property="OLDERVERSIONFOUND"
                      IncludeMaximum="yes" />
      <UpgradeVersion Minimum="$(var.AssemblyFileVersion)"
                      Property="NEWERVERSIONFOUND"
                      OnlyDetect="yes"
                      IncludeMinimum="no" />
    </Upgrade>

    <!--=================================================================================-->
    <!-- Icon in ARP                                                                     -->
    <!--=================================================================================-->

    <Icon Id="setup.ico" SourceFile="resources\setup.ico" />
    <Property Id="ARPPRODUCTICON" Value="setup.ico" />
    <Property Id="ARPHELPLINK" Value="http://www.msdn.com/data/ef" />

    <!--=================================================================================-->
    <!-- Variables                                                                       -->
    <!--=================================================================================-->
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Header.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\FirstPage.bmp" />
    <UIRef Id="WixUI_Minimal" />

    <Property Id="DSTDIR" Secure='yes'>
      <RegistrySearch Id="WD_DSTDIR"
                      Root="HKLM"
                      Key="Software\Microsoft\wdexpress\$(var.VisualStudioVersion)\Setup\VS"
                      Name="ProductDir"
                      Type="raw" />
      <RegistrySearch Id="VWD_DSTDIR"
                      Root="HKLM"
                      Key="Software\Microsoft\vwdexpress\$(var.VisualStudioVersion)\Setup\VS"
                      Name="ProductDir"
                      Type="raw" />
      <RegistrySearch Id="VS_DSTDIR"
                      Root="HKLM"
                      Key="Software\Microsoft\VisualStudio\$(var.VisualStudioVersion)\Setup\VS"
                      Name="ProductDir"
                      Type="raw" />
    </Property>

    <?if $(var.VisualStudioVersion) = 11.0?>
      <Property Id="EF6BETAFOUND">
        <ProductSearch UpgradeCode="$(var.UpgradeCode)" Maximum="11.2.20529.0" Minimum="11.2.20529.0" ExcludeLanguages="yes" IncludeMaximum="yes" />
      </Property>
    <?endif?>
    
    <Property Id="SKIPENVIRONMENTSETUP" Secure="yes" />

    <CustomAction Id="SetInstallDir" Property="INSTALLDIR" Value="[DSTDIR]" />
    <CustomAction Id="SetDevEnv" Property="DEVENV" Value="[DSTDIR]Common7\IDE\devenv.exe" />
    <CustomAction Id="SetVWDExpressEnv" Property="VWDEXPRESS_EXE" Value="[DSTDIR]Common7\IDE\VWDExpress.exe" />
    <CustomAction Id="SetWDExpressEnv" Property="WDEXPRESS_EXE" Value="[DSTDIR]Common7\IDE\WDExpress.exe" />
    <CustomAction Id="RunWDSetup"
                  Property="WDEXPRESS_EXE"
                  ExeCommand="/setup"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="RunVWDSetup"
                  Property="VWDEXPRESS_EXE"
                  ExeCommand="/setup"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="RunSlashSetup"
                  Property="DEVENV"
                  ExeCommand="/setup"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="IsPrivileged" Error="!(loc.ElevatedPrivilegeRequired)" />
    <CustomAction Id="PreventDowngrading" Error="!(loc.NewerAlreadyInstalled)" />

    <Condition Message="!(loc.VisualStudioProductDirNotFound)">Installed OR DSTDIR</Condition>

    <?if $(var.VisualStudioVersion) = 11.0?>
      <Condition Message="!(loc.Dev11EF6PreviewInstalled)">Installed OR NOT EF6BETAFOUND</Condition>
    <?endif?>

    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
      <Custom Action="IsPrivileged" Before="LaunchConditions">NOT Privileged</Custom>
      <Custom Action="SetDevEnv" Before="CostFinalize" />
      <Custom Action="SetVWDExpressEnv" Before="CostFinalize" />
      <Custom Action="SetWDExpressEnv" Before="CostFinalize" />
      <Custom Action="SetInstallDir" Before="CostFinalize" />
      <!-- 
          Run Devenv /SETUP if:
          - The product is installed (wasn't installed before but now it is installed) and SKIPENVIRONMENTSETUP
            property is not set.
          or
          - Product is uninstalled (This is to clear EF Template from the cache).
      -->
      <Custom Action="RunSlashSetup" Before="InstallFinalize">
        (NOT Installed AND NOT SKIPENVIRONMENTSETUP) OR (Installed AND NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <Custom Action="RunVWDSetup" Before="InstallFinalize">
        (NOT Installed AND NOT SKIPENVIRONMENTSETUP) OR (Installed AND NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <Custom Action="RunWDSetup" Before="InstallFinalize">
        (NOT Installed AND NOT SKIPENVIRONMENTSETUP) OR (Installed AND NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
    </InstallUISequence>

    <Media Id="1" Cabinet="EFTools.cab" EmbedCab="$(var.EmbedCab)" CompressionLevel="high" />
    <Feature Id="ProductFeature" Title="EFToolsFeature">
      <Component Directory="TARGETDIR">
        <RegistryKey Root="HKLM" Key="Software\!(loc.CompanyName)\!(loc.ShortProductName)\$(var.AssemblyVersion)">
          <RegistryValue Type="string" Name="InstallDir" Value="[DSTDIR]" KeyPath="yes" />
          <RegistryValue Type="string" Name="VersionNumber" Value="$(var.AssemblyVersion)" />
          <RegistryValue Type="string" Name="FileVersion" Value="$(var.AssemblyFileVersion)" />
          <RegistryValue Type="string" Name="InfoVersion" Value="$(var.AssemblyInfoVersion)" />
          <RegistryValue Type="string" Name="LCID" Value="$(var.LCID)" />
        </RegistryKey>
      </Component>

      <ComponentGroupRef Id="CoreComponents" />
      <ComponentGroupRef Id="DatabaseGenerationComponents" />
      <ComponentGroupRef Id="ItemTemplateComponents" />
      <ComponentGroupRef Id="NuGetPackageComponents" />
      <ComponentGroupRef Id="XmlSchemaComponents" />

      <?if $(var.IncludeLocalizedArtifacts) = true ?>
        <ComponentGroupRef Id="SatelliteAssemblyComponents" />
      
        <?if $(var.VisualStudioVersion) = 12.0?>
          <ComponentGroupRef Id="LicenseComponents" />
        <?endif?>
      <?endif?>
    </Feature>
  </Product>
</Wix>
