<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?define ItemTemplateVersions = 5;6?>
    <?define ItemTemplateRoots = itemtemplates;vwd_itemtemplates;wd_itemtemplates?>
    <?define ItemTemplateDirs = CSharp\Data;VisualBasic\Data;Web\CSharp;Web\VisualBasic?>
    <?define ItemTemplateLCIDs = 1028;1031;1033;1034;1036;1040;1041;1042;1049;2052?>

    <!-- DbContext Item Templates -->
    <?foreach ItemTemplateRoot in $(var.ItemTemplateRoots)?>
      <?foreach ItemTemplateDir in $(var.ItemTemplateDirs)?>
        <?if $(var.ItemTemplateDir) = CSharp\Data?>
          <?define generatorLanguage = CSharp?>
          <?define qualifier1 = CS?>
          <?define qualifier2 = CS?>
          <?define qualifier3 = CSharp?>
        <?elseif $(var.ItemTemplateDir) = VisualBasic\Data?>
          <?define generatorLanguage = VB?>
          <?define qualifier1 = VB?>
          <?define qualifier2 = VB?>
          <?define qualifier3 = VB?>
        <?elseif $(var.ItemTemplateDir) = Web\CSharp?>
          <?define generatorLanguage = CSharp?>
          <?define qualifier1 = CSWS?>
          <?define qualifier2 = CS_WS?>
          <?define qualifier3 = CSharp_ASPNET?>
        <?elseif $(var.ItemTemplateDir) = Web\VisualBasic?>
          <?define generatorLanguage = VB?>
          <?define qualifier1 = VBWS?>
          <?define qualifier2 = VB_WS?>
          <?define qualifier3 = VB_ASPNET?>
        <?endif?>

        <DirectoryRef Id="$(var.ItemTemplateRoot)_$(var.qualifier1)">
          <?foreach ItemTemplateLCID in $(var.ItemTemplateLCIDs)?>
            <?if $(var.ItemTemplateLCID) = 1033 or $(var.IncludeLocalizedArtifacts) = True?>
              <Directory Id="_$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)"
                         Name="$(var.ItemTemplateLCID)">
                <?foreach ItemTemplateVersion in $(var.ItemTemplateVersions)?>
                  <Directory Id="$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)_DbCtx$(var.qualifier1)EF$(var.ItemTemplateVersion)"
                             Name="DbCtx$(var.qualifier1)EF$(var.ItemTemplateVersion)">
                    <Component Id="$(var.qualifier1)dbcontextcontexttt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)">
                      <File Id="$(var.generatorLanguage)dbcontextcontexttt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\EF$(var.ItemTemplateVersion)\$(var.generatorLanguage)DbContext.Context.tt" />
                    </Component>
                    <Component Id="$(var.qualifier1)dbcontexttypestt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)">
                      <File Id="$(var.generatorLanguage)dbcontexttypestt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\EF$(var.ItemTemplateVersion)\$(var.generatorLanguage)DbContext.Types.tt" />
                    </Component>
                    <Component Id="dbcontext_$(var.qualifier1)_V$(var.ItemTemplateVersion)0vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)">
                      <File Id="dbcontext_$(var.qualifier2)_V$(var.ItemTemplateVersion)0vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\$(var.ItemTemplateDir)\$(var.ItemTemplateLCID)\DbCtx$(var.qualifier1)EF$(var.ItemTemplateVersion)\DbContext_$(var.qualifier2)_V$(var.ItemTemplateVersion).0.vstemplate" />
                    </Component>
                    <Component Id="__templateiconico_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)">
                      <File Id="__templateiconico_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\__TemplateIcon.ico" />
                    </Component>
                  </Directory>                
                <?endforeach?>
                
                <Directory Id="$(var.ItemTemplateRoot)_$(var.qualifier1)_$(var.ItemTemplateLCID)_CF$(var.qualifier1)EF6"
                           Name="CF$(var.qualifier1)EF6">
                  <Component Id="codefirst_$(var.qualifier1)_V60vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)">
                    <File Id="codefirst_$(var.qualifier2)_V60vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)"
                          Source="$(var.TargetDir)ItemTemplateFilesDir\$(var.ItemTemplateDir)\$(var.ItemTemplateLCID)\CF$(var.qualifier1)EF6\CodeFirst_$(var.qualifier2)_V6.0.vstemplate" />
                  </Component>
                  
                  <Component Id="projectitem_$(var.qualifier1)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)">
                    <?if $(var.generatorLanguage) = CSharp ?>
                      <File Id="projectitem_$(var.qualifier1)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\$(var.ItemTemplateDir)\$(var.ItemTemplateLCID)\CF$(var.qualifier1)EF6\ProjectItem.cs" />
                    <?else?>
                      <File Id="projectitem_$(var.qualifier1)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)"
                            Source="$(var.TargetDir)ItemTemplateFilesDir\$(var.ItemTemplateDir)\$(var.ItemTemplateLCID)\CF$(var.qualifier1)EF6\ProjectItem.vb" />
                    <?endif?>
                  </Component>
                </Directory>
                
                <?if $(var.ItemTemplateLCID) = 1033?>
                  <Component Id="adonetentitydatamodel$(var.qualifier1)zip_$(var.ItemTemplateRoot)">
                    <File Id="adonetentitydatamodel$(var.qualifier3)zip_$(var.ItemTemplateRoot)"
                          Source="$(var.TargetDir)EntityDesigner\Templates\AdoNetEntityDataModel$(var.qualifier3).zip" />
                  </Component>
                <?endif?>
              </Directory>
            <?endif?>
          <?endforeach?>
        </DirectoryRef>

        <?undef generatorLanguage?>
        <?undef qualifier1?>
        <?undef qualifier2?>
        <?undef qualifier3?>
      <?endforeach?>
    <?endforeach?>

    <ComponentGroup Id="ItemTemplateComponents" Directory="itemtemplates">

      <?foreach ItemTemplateRoot in $(var.ItemTemplateRoots)?>
        <?foreach ItemTemplateDir in $(var.ItemTemplateDirs)?>
          <?if $(var.ItemTemplateDir) = CSharp\Data?>
            <?define qualifier = CS?>
          <?elseif $(var.ItemTemplateDir) = VisualBasic\Data?>
            <?define qualifier = VB?>
          <?elseif $(var.ItemTemplateDir) = Web\CSharp?>
            <?define qualifier = CSWS?>
          <?elseif $(var.ItemTemplateDir) = Web\VisualBasic?>
            <?define qualifier = VBWS?>
          <?endif?>

          <?foreach ItemTemplateLCID in $(var.ItemTemplateLCIDs)?>
            <?if $(var.ItemTemplateLCID) = 1033 or $(var.IncludeLocalizedArtifacts) = True?>
              <?foreach ItemTemplateVersion in $(var.ItemTemplateVersions)?>
                <ComponentRef Id="$(var.qualifier)dbcontextcontexttt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)" />
                <ComponentRef Id="$(var.qualifier)dbcontexttypestt_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)" />
                <ComponentRef Id="dbcontext_$(var.qualifier)_V$(var.ItemTemplateVersion)0vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)" />              
                <ComponentRef Id="__templateiconico_$(var.ItemTemplateVersion)_$(var.ItemTemplateRoot)_$(var.qualifier)_$(var.ItemTemplateLCID)" />
              <?endforeach?>
              <ComponentRef Id="codefirst_$(var.qualifier)_V60vstemplate_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)" />
              <ComponentRef Id="projectitem_$(var.qualifier)_$(var.ItemTemplateRoot)_$(var.ItemTemplateLCID)" />
            <?endif?>

          <?endforeach?>
          
          <ComponentRef Id="adonetentitydatamodel$(var.qualifier)zip_$(var.ItemTemplateRoot)" />         
              
          <?undef qualifier?>
        <?endforeach?>
      <?endforeach?>

      <ComponentGroupRef Id="ItemTemplateIncludes" />
    </ComponentGroup>
    
    <ComponentGroup Id="ItemTemplateIncludes" Directory="eft_templates_include">
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\includes\EF.Utility.CS.ttinclude" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\includes\EF6.Utility.CS.ttinclude" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\includes\EF.Utility.VB.ttinclude" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\TextTemplates\includes\EF6.Utility.VB.ttinclude" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>