<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?define LicenseLCIDs = 1028;1031;1033;1034;1036;1040;1041;1042;1049;2052?>
    <DirectoryRef Id="licenses">
      <?foreach LicenseLCID in $(var.LicenseLCIDs)?>
        <Directory Id="licenses_$(var.LicenseLCID)" Name="$(var.LicenseLCID)">
          <Component Id="licenses_$(var.LicenseLCID)_Runtime">
            <File Id="licenses_$(var.LicenseLCID)_Runtime"
                  Name="EntityFramework6Runtime.rtf"
                  Source="$(var.TargetDir)\Localized\$(var.LicenseLCID)\RuntimeLicense.rtf" />
          </Component>
          <Component Id="licenses_$(var.LicenseLCID)_Tools">
            <File Id="licenses_$(var.LicenseLCID)_Tools"
                  Name="EntityFrameworkToolsForVisualStudio2013.rtf"
                  Source="$(var.TargetDir)\Localized\$(var.LicenseLCID)\ToolsLicense.rtf" />
          </Component>
        </Directory>
      <?endforeach?>
    </DirectoryRef>
    <ComponentGroup Id="LicenseComponents">
      <?foreach LicenseLCID in $(var.LicenseLCIDs)?>
        <ComponentRef Id="licenses_$(var.LicenseLCID)_Runtime" />
        <ComponentRef Id="licenses_$(var.LicenseLCID)_Tools" />
      <?endforeach?>
    </ComponentGroup>
  </Fragment>
</Wix>
