<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?define SatelliteAssemblyCultures = de;es;fr;it;ja;ko;ru;zh-Hans;zh-Hant?>
    <DirectoryRef Id="ide">
      <?foreach SatelliteAssemblyCulture in $(var.SatelliteAssemblyCultures)?>
        <?if $(var.SatelliteAssemblyCulture) = zh-Hans?>
          <?define IdSafeCulture = zhHans?>
        <?elseif $(var.SatelliteAssemblyCulture)= zh-Hant?>
          <?define IdSafeCulture = zhHant?>
        <?else?>
          <?define IdSafeCulture = $(var.SatelliteAssemblyCulture)?>
        <?endif?>
        <Directory Id="ide_$(var.IdSafeCulture)" Name="$(var.SatelliteAssemblyCulture)">
          <Component Id="ide_$(var.IdSafeCulture)_BootstrapPackageComponent">
            <File Id="ide_$(var.IdSafeCulture)_BootstrapPackage"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.BootstrapPackage.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_DatabaseGenerationComponent">
            <File Id="ide_$(var.IdSafeCulture)_DatabaseGeneration"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.DatabaseGeneration.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_DatabaseGenerationIntellisenseComponent">
            <File Id="ide_$(var.IdSafeCulture)_DatabaseGenerationIntellisense"
                  Source="$(var.LocOutputPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.DatabaseGeneration.xml" />
          </Component>
          <?if $(var.VisualStudioVersion) = 11.0?>
            <Component Id="ide_$(var.IdSafeCulture)_DataSourceWizardExtensionComponent">
              <File Id="ide_$(var.IdSafeCulture)_DataSourceWizardExtension"
                    Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.DataSourceWizardExtension.resources.dll" />
            </Component>
          <?endif?>
          <Component Id="ide_$(var.IdSafeCulture)_EntityDesignerComponent">
            <File Id="ide_$(var.IdSafeCulture)_EntityDesigner"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.EntityDesigner.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_ModelComponent">
            <File Id="ide_$(var.IdSafeCulture)_Model"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.Model.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_PackageComponent">
            <File Id="ide_$(var.IdSafeCulture)_Package"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.Package.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_EntityDesign">
            <File Id="ide_$(var.IdSafeCulture)_EntityDesign"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_EntityDesignIntellisenseComponent">
            <File Id="ide_$(var.IdSafeCulture)_EntityDesignIntellisense"
                  Source="$(var.LocOutputPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.xml" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_EntityFramework">
            <File Id="ide_$(var.IdSafeCulture)_EntityFramework"
                  Source="$(var.PackagesDir)\EntityFramework.$(var.SatelliteAssemblyCulture).$(var.EF6NuGetPackageVersion)\lib\net45\$(var.SatelliteAssemblyCulture)\EntityFramework.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_SqlServer">
            <File Id="ide_$(var.IdSafeCulture)_SqlServer"
                  Source="$(var.PackagesDir)\EntityFramework.$(var.SatelliteAssemblyCulture).$(var.EF6NuGetPackageVersion)\lib\net45\$(var.SatelliteAssemblyCulture)\EntityFramework.SqlServer.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_VersioningFacade">
            <File Id="ide_$(var.IdSafeCulture)_VersioningFacade"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.VersioningFacade.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_XmlCore">
            <File Id="ide_$(var.IdSafeCulture)_XmlCore"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Tools.Design.XmlCore.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_ToolsXmlCore">
            <File Id="ide_$(var.IdSafeCulture)_ToolsXmlCore"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.VisualStudio.Data.Tools.Design.XmlCore.resources.dll" />
          </Component>
        </Directory>
        <?undef IdSafeCulture?>
      <?endforeach?>
    </DirectoryRef>

    <DirectoryRef Id="publicassemblies">
      <?foreach SatelliteAssemblyCulture in $(var.SatelliteAssemblyCultures)?>
        <?if $(var.SatelliteAssemblyCulture) = zh-Hans?>
          <?define IdSafeCulture = zhHans?>
        <?elseif $(var.SatelliteAssemblyCulture)= zh-Hant?>
          <?define IdSafeCulture = zhHant?>
        <?else?>
          <?define IdSafeCulture = $(var.SatelliteAssemblyCulture)?>
        <?endif?>
        <Directory Id="publicassemblies_$(var.IdSafeCulture)" Name="$(var.SatelliteAssemblyCulture)">
          <Component Id="ide_$(var.IdSafeCulture)_ExtensibilityComponent">
            <File Id="ide_$(var.IdSafeCulture)_Extensibility"
                  Source="$(var.SatelliteAssemblyPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.Extensibility.resources.dll" />
          </Component>
          <Component Id="ide_$(var.IdSafeCulture)_ExtensibilityIntellisenseComponent">
            <File Id="ide_$(var.IdSafeCulture)_ExtensibilityIntellisense"
                  Source="$(var.LocOutputPath)\$(var.SatelliteAssemblyCulture)\Microsoft.Data.Entity.Design.Extensibility.xml" />
          </Component>
        </Directory>
        <?undef IdSafeCulture?>
      <?endforeach?>
    </DirectoryRef>

    <ComponentGroup Id="SatelliteAssemblyComponents">
      <?foreach SatelliteAssemblyCulture in $(var.SatelliteAssemblyCultures)?>
        <?if $(var.SatelliteAssemblyCulture) = zh-Hans?>
          <?define IdSafeCulture = zhHans?>
        <?elseif $(var.SatelliteAssemblyCulture)= zh-Hant?>
          <?define IdSafeCulture = zhHant?>
        <?else?>
          <?define IdSafeCulture = $(var.SatelliteAssemblyCulture)?>
        <?endif?>
      
        <ComponentRef Id="ide_$(var.IdSafeCulture)_BootstrapPackageComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_DatabaseGenerationComponent" />
        <?if $(var.VisualStudioVersion) = 11.0?>
          <ComponentRef Id="ide_$(var.IdSafeCulture)_DataSourceWizardExtensionComponent" />
        <?endif?>
        <ComponentRef Id="ide_$(var.IdSafeCulture)_EntityDesignerComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_ExtensibilityComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_ModelComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_PackageComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_EntityDesign" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_EntityFramework" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_SqlServer" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_VersioningFacade" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_XmlCore" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_ToolsXmlCore" />

        <ComponentRef Id="ide_$(var.IdSafeCulture)_DatabaseGenerationIntellisenseComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_EntityDesignIntellisenseComponent" />
        <ComponentRef Id="ide_$(var.IdSafeCulture)_ExtensibilityIntellisenseComponent" />
      
        <?undef IdSafeCulture?>
      <?endforeach?>
    </ComponentGroup>
  </Fragment>
</Wix>