<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="XmlSchemaComponents" Directory="vsschemas">
      <Component>
        <File Source="XmlSchemas\EntityFrameworkCatalog.xml" />
      </Component>
      <Component>
        <File Source="XmlSchemas\EntityFrameworkConfig_6_1_4.xsd" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\EntityDesigner\Schemas\Microsoft.Data.Entity.Design.Edmx_1.xsd" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\EntityDesigner\Schemas\Microsoft.Data.Entity.Design.Edmx_2.xsd" />
      </Component>
      <Component>
        <File Source="$(var.TargetDir)\EntityDesigner\Schemas\Microsoft.Data.Entity.Design.Edmx_3.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.AnnotationSchema.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CodeGenerationSchema.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSDLSchema_1.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSDLSchema_1_1.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSDLSchema_2.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSDLSchema_3.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSMSL_1.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSMSL_2.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.CSMSL_3.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\system.data.resources.entitystoreschemagenerator.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.ProviderServices.ProviderManifest.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.SSDLSchema.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.SSDLSchema_2.xsd" />
      </Component>
      <Component>
        <File Source="XmlSchemas\System.Data.Resources.SSDLSchema_3.xsd" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>