<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0"></remove>
            <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add name="Scenario_Use_AppConfig_connection_string" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=Scenario_Use_AppConfig;" />
        <add name="Scenario_Use_AppConfig_LocalDb_connection_string" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True;Database=Scenario_Use_AppConfig_LocalDb;" />
        <add name="Scenario_Use_SqlCe_AppConfig_connection_string" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Scenario_Use_AppConfig.sdf" />
        <add name="SimpleModelInAppConfig" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModel;" />
        <add name="AllTypeKeysModel.AllTypeKeysContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=AllTypeKeysDb;" />
        <add name="SimpleModel.LiveWriterContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=LiveWriterDb.sdf" />
        <add name="SimpleModelWithNoDataFromAppConfig" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModelWithNoData;" />
        <add name="InvalidKeywordConnectionString" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Databas=SomethingThatDoesntExist;" />
        <add name="InvalidProviderNameConnectionString" providerName="System.Data" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SomethingThatDoesntExist;" />
        <add name="EntityConnectionForSimpleModel" connectionString="metadata=.\SimpleModel.csdl|.\SimpleModel.ssdl|.\SimpleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModelContext;&quot;" providerName="System.Data.EntityClient" />
        <add name="MonsterModel" connectionString="metadata=.\MonsterModel.csdl|.\MonsterModel.ssdl|.\MonsterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;Integrated Security=True;Database=MonsterModel;&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
      <add key="DatabaseInitializerForType SimpleModel.SimpleModelContext, EntityFramework.FunctionalTests.Transitional" value="SimpleModel.SimpleModelInitializer, EntityFramework.FunctionalTests.Transitional" />
      <add key="BaseConnectionString" value="Data Source=.\SQLEXPRESS; Integrated Security=True;" />
    </appSettings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.TestHelpers.DefaultFunctionalTestsConnectionFactory, EntityFramework.FunctionalTests.Transitional" />
    </entityFramework>
    <runtime>
        <ThrowUnobservedTaskExceptions enabled="true" />
    </runtime>
</configuration>