<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="Custom Entity Provider" invariant="CustomEntityProvider" description=".Net Framework Tunable SqlClient Provider" type="System.Data.Entity.UnitTest.CustomProvider, System.Data.Entity.UnitTest.CustomProvider"/>
      <add name="Tunable Sql Provider" invariant="System.Data.Test.TunableSqlClient" description=".Net Framework Tunable SqlClient Provider" type="System.Data.Test.Framework.TunableSqlFactory, System.Data.Test.Framework"/>
      <add name="SQL CE Wrapper Provider" invariant="SqlCeWrapper" description="SQL CE Wrapper Provider" type="SqlCeWrapper.SqlCeWrapperFactory, ProviderModelUnitTests"/>
      <add name="SQL CE Mini Wrapper Provider" invariant="SqlCeMiniWrapper" description="SQL CE Wrapper Provider" type="SqlCeMiniWrapper.SqlCeMiniWrapperFactory, ProviderModelUnitTests"/>
      <add name="My.Generic.Provider" invariant="My.Generic.Provider" description="SQL CE Wrapper Provider" type="UnitTests.GenericProviderFactory`1[[System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], EntityFramework.UnitTests, Version=0.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Couger35.Hubcap.FullNameDbContext" providerName="System.Data.SqlClient" connectionString="Database=FullNameInAppConfig"/>
    <add name="ShortNameDbContext" providerName="System.Data.SqlClient" connectionString="Database=ShortNameInAppConfig"/>
    <add name="Couger35.Hubcap.FullNameStripped" providerName="System.Data.SqlClient" connectionString="Database=FullNameStrippedInAppConfig"/>
    <add name="Couger35.Hubcap.FullNameDbStripped" providerName="System.Data.SqlClient" connectionString="Database=FullNameDbStrippedInAppConfig"/>
    <add name="ShortNameStripped" providerName="System.Data.SqlClient" connectionString="Database=ShortNameStrippedInAppConfig"/>
    <add name="ShortNameDbStripped" providerName="System.Data.SqlClient" connectionString="Database=ShortNameDbStrippedInAppConfig"/>
    <add name="EntityConnectionString" providerName="System.Data.EntityClient" connectionString="metadata=.\Foo.csdl|.\Foo.ssdl|.\Foo.msl;provider=System.Data.SqlClient;provider connection string='Server=.\FOO;Database=Bar;'"/>
    <add name="ConnectionWithoutProviderName" connectionString="Database=ConnectionWithoutProviderName"/>
    <add name="MigrateDatabaseToLatestVersionNamedConnectionTest" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MigrationInitFromConfig;Trusted_Connection=True;"/>
    <add name="AppConfigTest" connectionString="FromTheDefaultConfigFile"/>
    <add name="LazyConnectionTest" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=ConnectionFromAppConfig.sdf"/>
    <add name="OverrideConnectionTest" providerName="System.Data.SqlClient" connectionString="Database=ConnectionFromAppConfig"/>
    <add name="MigrateDatabaseToLatestVersionNamedConnectionTest" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MigrationInitFromConfig;Trusted_Connection=True;"/>
    <add name="AppConfigTest" connectionString="FromTheDefaultConfigFile"/>
    <add name="LazyConnectionTest" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=ConnectionFromAppConfig.sdf"/>
    <add name="OverrideConnectionTest" providerName="System.Data.SqlClient" connectionString="Database=ConnectionFromAppConfig"/>
  </connectionStrings>
</configuration>
