<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"></remove>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="FakeSqlClient" invariant="System.Data.FakeSqlClient" description="Fake SQL Client" type="System.Data.Entity.ModelConfiguration.Internal.UnitTests.FakeSqlProviderFactory, EntityFramework.UnitTests, Version=0.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </DbProviderFactories>
  </system.data>
  <entityFramework codeConfigurationType="System.Data.Entity.TestHelpers.FunctionalTestsConfiguration, EntityFramework.FunctionalTests.Transitional">
    <providers>
      <provider invariantName="System.Data.FakeSqlClient" type="System.Data.Entity.ModelConfiguration.Internal.UnitTests.FakeSqlProviderServices, EntityFramework.UnitTests, Version=0.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Couger35.Hubcap.FullNameDbContext" providerName="System.Data.SqlClient" connectionString="Database=FullNameInAppConfig" />
    <add name="ShortNameDbContext" providerName="System.Data.SqlClient" connectionString="Database=ShortNameInAppConfig" />
    <add name="Couger35.Hubcap.FullNameStripped" providerName="System.Data.SqlClient" connectionString="Database=FullNameStrippedInAppConfig" />
    <add name="Couger35.Hubcap.FullNameDbStripped" providerName="System.Data.SqlClient" connectionString="Database=FullNameDbStrippedInAppConfig" />
    <add name="ShortNameStripped" providerName="System.Data.SqlClient" connectionString="Database=ShortNameStrippedInAppConfig" />
    <add name="ShortNameDbStripped" providerName="System.Data.SqlClient" connectionString="Database=ShortNameDbStrippedInAppConfig" />
    <add name="EntityConnectionString" providerName="System.Data.EntityClient" connectionString="metadata=.\Foo.csdl|.\Foo.ssdl|.\Foo.msl;provider=System.Data.SqlClient;provider connection string='Server=.\FOO;Database=Bar;'" />
    <add name="ConnectionWithoutProviderName" connectionString="Database=ConnectionWithoutProviderName" />
    <add name="MigrateDatabaseToLatestVersionNamedConnectionTest" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MigrationInitFromConfig;Trusted_Connection=True;" />
    <add name="AppConfigTest" connectionString="FromTheDefaultConfigFile" />
    <add name="LazyConnectionTest" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=ConnectionFromAppConfig.sdf" />
    <add name="OverrideConnectionTest" providerName="System.Data.SqlClient" connectionString="Database=ConnectionFromAppConfig" />
    <add name="MigrateDatabaseToLatestVersionNamedConnectionTest" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MigrationInitFromConfig;Trusted_Connection=True;" />
    <add name="AppConfigTest" connectionString="FromTheDefaultConfigFile" />
    <add name="LazyConnectionTest" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=ConnectionFromAppConfig.sdf" />
    <add name="OverrideConnectionTest" providerName="System.Data.SqlClient" connectionString="Database=ConnectionFromAppConfig" />
    <add name="DbContextInfoTest" providerName="System.Data.SqlClient" connectionString="Database=DbContextInfoTest" />
  </connectionStrings>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BaseConnectionString" value="Data Source=.\SQLEXPRESS; Integrated Security=True;" />
  </appSettings>
</configuration>