<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.1.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ProgramMode" type="Debug"/>
    </sectionGroup>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <White>
    <Core>
      <add key="LogActions" value="false" />
      <add key="WorkSessionLocation" value="." />
      <add key="PopupTimeout" value="300000" />
      <add key="MouseDelayForTooltip" value="0" />
      <add key="SuggestionListTimeout" value="300000" />
      <add key="BusyTimeout" value="300000" />
      <add key="WaitBasedOnHouseGlass" value="true" />
      <add key="UIAutomationZeroWindowBugTimeout" value="300000" />
      <add key="TooltipWaitTime" value="300000" />
    </Core>
  </White>

</configuration>