<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.36" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.25" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25405" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.168" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.168" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.8.28010" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.8.3252" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="StreamJsonRpc" version="1.4.128" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
</packages>