<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="ASP.NET Nightly Builds" value="https://www.myget.org/F/aspnetwebstacknightly/" />
    <add key="ASP.NET Build Tools" value="https://www.myget.org/F/30de4ee06dd54956a82013fa17a3accb/" />
  </packageSources>
</configuration>