<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.SkipStrongNames" version="1.0.0" />
  <package id="StyleCop" version="4.7.10.0" />
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net45" />
  <package id="Microsoft.Wix3.Tools" version="3.10" developmentDependency="true" />
  <package id="Microsoft.Wix3.WixDependencyExtension" version="3.10" developmentDependency="true" />
  <package id="Microsoft.Wix3.WixUIExtension" version="3.10" developmentDependency="true" />
</packages>