#define FX_VER_FILEDESCRIPTION_STR "ADO.NET 3.0 Designers for Visual Studio"

#undef FX_VER_INTERNALNAME_STR
#define FX_VER_INTERNALNAME_STR	Microsoft.Data.Entity.Design.dll

#undef FX_VFT
#define FX_VFT VFT_DLL

#undef SXS_TARGET
#define SXS_TARGET Microsoft.Data.Entity.Design.dll

#include <fxver.h>
#include <fxver.rc>
