<?xml version="1.0" encoding="utf-8"?>
<?include Defines.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Entity Framework $(var.RuntimeVersionMajor).$(var.RuntimeVersionMinor).$(var.VersionReleasePrefix) Tools $(var.VersionReleaseName) for Visual Studio 2017"
           Language="1033"
           Version="$(var.RuntimeVersionMajor).$(var.RuntimeVersionMinor).$(var.VersionBuild).$(var.VersionRevision)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."  Schedule="afterInstallFinalize" />

    <Media Id="1" Cabinet="$(var.OutputName).cab" CompressionLevel="high" EmbedCab="$(var.EmbedCab)" />

    <Feature Id="EFTools_Singleton_MSI" Absent="allow" Display="2" Level="1">
      <ComponentGroupRef Id="CG_Licenses" />
      <ComponentGroupRef Id="CG_NuGetPackageComponents" />
      <ComponentGroupRef Id="CG_ReferenceCounting" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="eulas\enu\eula.rtf" />
    <UIRef Id="WixUI_Minimal"/>
  </Product>
</Wix>