<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"></remove>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Scenario_Use_AppConfig_connection_string" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=Scenario_Use_AppConfig;MultipleActiveResultSets=True;" />
    <add name="Scenario_Use_AppConfig_LocalDb_connection_string" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True;Database=Scenario_Use_AppConfig_LocalDb;MultipleActiveResultSets=True;" />
    <add name="Scenario_Use_SqlCe_AppConfig_connection_string" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Scenario_Use_AppConfig.sdf" />
    <add name="SimpleModelInAppConfig" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModel;MultipleActiveResultSets=True;" />
    <add name="AllTypeKeysModel.AllTypeKeysContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=AllTypeKeysDb;MultipleActiveResultSets=True;" />
    <add name="SimpleModel.LiveWriterContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=LiveWriterDb.sdf" />
    <add name="SimpleModelWithNoDataFromAppConfig" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModelWithNoData;MultipleActiveResultSets=True;" />
    <add name="InvalidKeywordConnectionString" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Databas=SomethingThatDoesntExist;MultipleActiveResultSets=True;" />
    <add name="InvalidProviderNameConnectionString" providerName="System.Data" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=SomethingThatDoesntExist;MultipleActiveResultSets=True;" />
    <add name="EntityConnectionForSimpleModel" connectionString="metadata=.\SimpleModel.csdl|.\SimpleModel.ssdl|.\SimpleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;Integrated Security=True;Database=SimpleModel.SimpleModelContext;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
    <add name="MonsterModel" connectionString="metadata=.\MonsterModel.csdl|.\MonsterModel.ssdl|.\MonsterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;Integrated Security=True;Database=MonsterModel;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  <add name="AdvancedPatternsModelFirstContext" connectionString="metadata=.\AdvancedPatterns.csdl|.\AdvancedPatterns.ssdl|.\AdvancedPatterns.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;Integrated Security=True;Database=AdvancedPatternsModelFirst;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="DatabaseInitializerForType SimpleModel.SimpleModelContext, EntityFramework.FunctionalTests" value="SimpleModel.SimpleModelInitializer, EntityFramework.FunctionalTests" />
    <add key="DatabaseInitializerForType SimpleModel.SimpleLocalDbModelContext, EntityFramework.FunctionalTests" value="SimpleModel.SimpleLocalDbModelInitializer, EntityFramework.FunctionalTests" />
    <add key="DatabaseInitializerForType SimpleModel.DisabledByLegacyConfigInitializerContext, EntityFramework.FunctionalTests" value="Disabled" />
    <add key="DatabaseInitializerForType SimpleModel.DisabledByLegacyConfigWithEmptyInitializerContext, EntityFramework.FunctionalTests" value="" />
    <add key="DatabaseInitializerForType AdvancedPatternsModel.AdvancedPatternsMasterContext, EntityFramework.FunctionalTests" value="AdvancedPatternsModel.AdvancedPatternsInitializer, EntityFramework.FunctionalTests" />
    <add key="DatabaseInitializerForType FunctionalTests.ProductivityApi.TemplateModels.CsAdvancedPatterns.AdvancedPatternsModelFirstContext, EntityFramework.FunctionalTests" value="FunctionalTests.ProductivityApi.TemplateModels.CsAdvancedPatterns.AdvancedPatternsModelFirstInitializer, EntityFramework.FunctionalTests" />
  </appSettings>
  <entityFramework>
    <contexts>
      <context type="ProductivityApiTests.DatabaseInitializationTests+InitializerFromAppConfigContext, EntityFramework.FunctionalTests">
        <databaseInitializer type="ProductivityApiTests.DatabaseInitializationTests+InitializerFromAppConfig, EntityFramework.FunctionalTests" />
      </context>
      <context type="FunctionalTests.SimpleMigrationsModel.MigrateInitializerContext, EntityFramework.FunctionalTests">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[FunctionalTests.SimpleMigrationsModel.MigrateInitializerContext, EntityFramework.FunctionalTests], [FunctionalTests.SimpleMigrationsModel.MigrateInitializerConfiguration, EntityFramework.FunctionalTests]], EntityFramework" />
      </context>
      <context type="ProductivityApiTests.DatabaseInitializationTests+InitializerWithCtorArgsContext, EntityFramework.FunctionalTests">
        <databaseInitializer type="ProductivityApiTests.DatabaseInitializationTests+InitializerWithCtorArgs, EntityFramework.FunctionalTests">
          <parameters>
            <parameter value="TestArgumentOne" />
            <parameter value="2" type="System.Int32" />
          </parameters>
        </databaseInitializer>
      </context>
      <context type="SimpleModel.DisabledByConfigInitializerContext, EntityFramework.FunctionalTests" disableDatabaseInitialization="true" />
      <context type="SimpleModel.DisabledByConfigWithInitializerAlsoSetInConfigContext, EntityFramework.FunctionalTests" disableDatabaseInitialization="true">
        <databaseInitializer type="System.Data.Entity.DropCreateDatabaseAlways`1[[SimpleModel.DisabledByConfigWithInitializerAlsoSetInConfigContext, EntityFramework.FunctionalTests]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
</configuration>