name: Aitra - Code Review

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  code-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGitHub==2.1.1 openai==1.12.0 langchain==0.1.4 langchain-community==0.0.13 langchain-openai==0.0.5 langchain-pinecone==0.0.2 tiktoken==0.5.2 pinecone-client==3.0.2

      - name: Run Code Reviewer
        run: python workflow_scripts/code_review.py
        env:
          OPEN_AI_KEY: ${{ secrets.OPEN_AI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_REGION: us-east-1
